section{
    border-left: 2px solid rgba(87, 87, 87, 0.183);
}

.siluetas{
    background-image: url(../img/siluetas.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%
}
