/* Variables */

$colorPrincipal: #032417;
$colorSecundario: #6e4311;
$colorTerciario: #b85922;
$colorFuente: #444244;

/* Import */

@import "./mains";
@import "./header";
@import "./footer";
@import "./section";


/*Body Y Generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.btn {
    background-color: $colorTerciario;
    border-color: $colorTerciario;
    color: white;

    &:hover {
        background-color: #db6a29;
        color: white;
    }
}

.form-check-input:checked {
    background-color: $colorTerciario;
    border-color: $colorTerciario;
        &:active {
            box-shadow: $colorTerciario;
        }
}

.lndEstilo {
    color: $colorTerciario
}

h1 {
    text-align: center;
    color: $colorTerciario;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}