/* Variables */

$colorPrincipal: #032417;
$colorSecundario: #6e4311;
$colorTerciario: #b85922;
$colorFuente: #444244;

/* Import */

@import "./offCanvas";
@import "./section";


/*Body Y Generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.btnCF {
    padding: 6px 12px 6px 12px;
    background-color: $colorTerciario;
    border-color: $colorTerciario;
    color: white;

    &:hover {
        background-color: #db6a29;
        color: white;
    }

    &:focus {
        background-color: #db6a29;
        color: white;
    }
    &:active{
        background-color: #db6a29;
        color: white;
    }
}

.form-check-input:checked {
    background-color: $colorTerciario;
    border-color: $colorTerciario;

    &:active {
        box-shadow: $colorTerciario;
    }
}

.lndEstilo {
    color: $colorTerciario
}

i {
    color: $colorTerciario;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: $colorTerciario;
}

span {
    text-align: center;
    color: $colorTerciario;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}