/* Variables */
/* Mixins */
/* Import */
/*Body Y Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.btn {
  background-color: #b85922;
  border-color: #b85922;
  color: white; }
  .btn:hover {
    background-color: #db6a29;
    color: white; }

.form-check-input:checked {
  background-color: #b85922;
  border-color: #b85922; }
  .form-check-input:checked:active {
    box-shadow: #b85922; }

.lndEstilo {
  color: #b85922; }

h1 {
  text-align: center;
  color: #b85922; }

.link {
  text-decoration: none;
  color: whitesmoke; }

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
