/* Variables */
/* Import */
section {
  border-left: 2px solid rgba(87, 87, 87, 0.183); }

.siluetas {
  background-image: url(../img/siluetas.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%; }

/*Body Y Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.btnCF {
  padding: 6px 12px 6px 12px;
  background-color: #b85922;
  border-color: #b85922;
  color: white; }
  .btnCF:hover {
    background-color: #db6a29;
    color: white; }

.form-check-input:checked {
  background-color: #b85922;
  border-color: #b85922; }
  .form-check-input:checked:active {
    box-shadow: #b85922; }

.lndEstilo {
  color: #b85922; }

i {
  color: #b85922;
  font-size: 20px; }

h1 {
  text-align: center;
  color: #b85922; }

span {
  text-align: center;
  color: #b85922; }

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
